:root{
  --background-color: #CED4DF;
  --texto: #171A21;
  --menuContainers: #ebebf8;
  --input: #fafafa;
  --form: #fafafa;

  --branding-700: #C27E00;
  --branding-600: #F09D05;
  --branding-500: #f6b132;
  --branding-400: #F0C16A;
  --branding-300: #EFD39F;

  --second-700: #324E86;
  --second-600: #4F72B5;
  --second-500: #768FBF;
  --second-400: #9EAECC;
  --second-300: #C2CBDB;

  --second-700-a: #324E8680;
  --second-500-a: #768FBF80;
  --second-300-a: #C2CBDB80;

  --font-dark: #364768;
  --font-grey: #8594B1;
  --font-light: #E1E6EF;
}