:root{
  --background-color: #CED4DF;
  --texto: #171A21;
  --menuContainers: #ebebf8;
  --input: #fafafa;
  --form: #fafafa;

  --branding-700: hsl(39, 92%, 43%);
  --branding-600: hsl(39, 88%, 53%);
  --branding-500: hsl(39, 84%, 63%);
  --branding-400: hsl(39, 74%, 73%);
  --branding-300: hsl(39, 64%, 83%);

  --second-700: #324E86;
  --second-600: #4F72B5;
  --second-500: #768FBF;
  --second-400: #9EAECC;
  --second-300: #C2CBDB;

  --green-600: #4FB572;
  --green-500: #76BF8F;
  --green-400: #9ECCAC;

  --red-600: #B54F4F;
  --red-500: #BF7676;
  --red-400: #CC9E9E;

  --second-700-a: #324E8680;
  --second-500-a: #768FBF80;
  --second-300-a: #C2CBDB80;

  --font-dark: #364768;
  --font-grey: #8594B1;
  --font-light: #E1E6EF;
}