:root{
  --background-color: #c4cfef;
  --texto: #252525;

  --light-blue: #bba877;

  --a: #efba5b;
  --a-hover: #ff9500;

  --formulario: #fafafa;

  --shadow: #3b5e3e;

  --menu: #134a0da0;
  --menu-description: #1e6e1b;
  --menuContainers: #ebebf8;

  --input: #fafafa;
}