@import "./colors.css";
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--texto);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --box-shadow: -2px -2px 6px #ffffff80, 2px 2px 6px #00000060;
}

a {
  font-weight: 700;
  color: var(--branding-600);
  text-decoration: inherit;
  transition: 200ms ease
}
a:hover {
  color: var(--branding-700);
}

body {
  height: calc(100dvh - 70px);
  margin: 0;
  background:
    url("../assets/bg.webp") center / cover no-repeat fixed,
    #e6e7eb;
}

h1 {
  font-size: 2.8em;
  line-height: 1.1;
  font-weight: bold;
}
h2 {
  font-size: 2.2em;
  font-weight: 600;
}

h3 {
  font-size: 1.6em;
  font-weight: 500;
}

button {
  border-radius: 10px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
