.menu {
  min-height: 5rem;
  height: 100%;
  width: 25rem;
  box-shadow: 2px 2px 5px var(--second-300);
  border: 1px solid var(--second-500);
  border-left-width: 3px;
  border-right-width: 3px;
  margin-bottom: 4rem;

  header,
  footer {
    height: 2rem;
    color: var(--font-dark);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }

  header {
    margin-bottom: 10px;
  }

  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 0 10px;
  }

  .dish {
    display: grid;
    grid-template-rows: 1fr auto;
    width: auto;
    padding: 5px;
    max-height: 40px;
    overflow: hidden;
    scrollbar-gutter: stable;
    transition: max-height 200ms ease 150ms, padding 200ms ease 150ms;
    text-align: center;
    cursor: pointer;

    &.expanded {
      max-height: 10rem;
      overflow-y: auto;
      padding: 10px;
    }

    &.new-dish {
      max-height: 0;
      animation: expanded 200ms forwards;
      overflow: hidden;

      &:hover{
        background: unset;
      }

      button {
        background: var(--second-500);
        color: white;
        border-radius: 10px;
        transition: background-color 200ms ease;
        width: 30%;
        height: 1.8rem;

        &:hover {
          background: var(--second-600);
        }
      }

      @keyframes expanded {
        from {
          max-height: 0;
        }
        to {
          max-height: 16rem;
        }
      }
    }

    p {
      margin-top: 9px;
      background: linear-gradient(to right, transparent 5%, #9bafc53a 15%, #9bafc53a 85%, transparent 95%);
      transition: font-size 300ms ease;
    }

    &:hover {
      background: linear-gradient(to right, transparent 5%, #d2dfed 15%, #d2dfed 85%, transparent 95%);
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative;

      .btn-delete {
        position: absolute;
        right: 0;
        background: linear-gradient(to right, transparent, #bc4545, #d23a3a);
        color: white;
        width: 28px;
        height: 23px;
        padding-inline: 2px;
        border-end-end-radius: 5px;
        border-start-end-radius: 5px;
        cursor: pointer;
        transition: width 200ms;

        &:hover {
          width: 2.5rem;
        }

        &:active {
          width: 30%;
        }
      }
    }

    input,
    textarea,
    select {
      outline: none;
      border: 1px solid #6e839c;
      border-left-width: 3px;
      border-right-width: 3px;
      border-radius: 5px;
      padding-left: 4px;
    }

    textarea {
      height: 6rem;
    }
  }

  ::-webkit-scrollbar-track {
    background-color: #f7f7f7;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #b4b39e;
    border-radius: 10px;
  }
}
