.menuContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 32rem;
  border-radius: 2rem;
  justify-content: space-around;
  user-select: none;
  gap: 2rem;
}

.calendar,
.menu {
  max-width: 90%;
  margin-top: 2rem;
  border-radius: 10px;
  font-family: sans-serif;
  background: var(--menuContainers);
  overflow: hidden;

  .header {
    color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-weight: 600;
      font-size: 18px;
    }
  }
}