.menuContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 32rem;
  border-radius: 2rem;
  justify-content: space-around;
  user-select: none;
  gap: 2rem;
}

.h3 {
  margin-inline: 30px;
}

.calendar,
.menu {
  max-width: 90%;
  margin-top: 2rem;
  border-radius: 10px;
  font-family: sans-serif;
  background: var(--menuContainers);
  overflow: hidden;

  .header {
    color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-weight: 600;
      font-size: 18px;
    }
  }
}

@media (max-width: 720px) {
  .calendar,
  .menu {
    button {
      width: clamp(2.3rem, 7dvw, 90px);
      height: clamp(2.3rem, 7dvw, 45px);
      padding: 0;
    }
  }

  .h3 {
    margin-inline: clamp(2px, 2lvw, 14px);
    font-size: clamp(1rem, 3dvw, 1.5rem);
  }
}
