.iconGroup {
  position: fixed;
  top: 0;
  right: 0;
  height: 65px;
  width: clamp(140px, 25dvw, 210px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  margin-right: 30px;
  z-index: 10;
}

.icon {
  cursor: pointer;
  transition: transform 100ms ease;

  &:hover {
    transform: scale(1.1);
  }
}

.menu {
  position: absolute;
  width: 90px;
  top: 65px;
  right: -25px;
  max-height: 0;
  background-color: var(--menu);
  box-shadow: 3px 3px 6px var(--shadow);
  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
  border-inline: 2px solid #0f5904;
  transition: width 200ms ease-out, max-height 200ms ease-out, opacity 1s ease;
  overflow-y: scroll;
  user-select: none;
  -webkit-user-select: none;
  opacity: 0;
  backdrop-filter: blur(3px);

  &.open {
    transition: max-height 200ms ease-out, opacity 400ms ease;
    max-height: 105px;
    opacity: 1;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    margin-bottom: 2px;
  }

  &::-webkit-scrollbar-thumb {
    animation-delay: 600ms;
    border-radius: 5px;
    background: #30523070;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  color: #eee;
  border-radius: 5px;
  cursor: pointer;
  transition: 200ms ease;

  &:hover{
    background: #20742940;
  }
}


@media (max-width: 520px){
  .iconGroup {
    width: 100%;
    margin-inline: auto;
    justify-content: space-around;
  }

  .menu {
    right: 0.4rem;
    width: 30%;
  }
}