.window
  position: fixed
  top: 0
  background: linear-gradient(to right, #cc7920, #fffba9, #cc7920)
  box-shadow: 0 3px 8px 2px #00000080
  width: 100vw
  height: 70px
  display: flex
  align-items: center
  justify-content: center
  z-index: 10

  .titulo
    background: linear-gradient(to right, #175f1f, #418748, #175f1f)
    color: white
    font-size: 3rem
    font-weight: bold
    border: 4px solid #9a6f20
    border-radius: 10px
    user-select: none
    -webkit-user-select: none


