.window
  position: fixed
  top: 0
  background: linear-gradient(to right, #d69147, #ede889, #d69147)
  box-shadow: 0 3px 8px 2px #00000080
  width: 100vw
  height: 70px
  display: flex
  align-items: center
  justify-content: center
  z-index: 10

  .titulo
    background: linear-gradient(to right, #29ad39, #175f1f)
    color: white
    font-size: 2.6rem
    font-weight: bold
    border: 4px solid #d69147c0
    border-radius: 10px
    user-select: none
    -webkit-user-select: none


