$default-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);

.dashboard {
  display: flex;
  background-color: #efefef;
  width: 85%;
  height: calc(100vh - 9rem);
  margin-inline: auto;
  margin-top: 6.5rem;
  border-radius: 10px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow: hidden;

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;;
  }

  aside {
    display: grid;
    justify-items: center;
    grid-auto-rows: min-content;
    padding-block: 2rem;
    padding-inline: 0.5rem;
    width: clamp(10rem, 20vw, 30rem);
    height: 100%;
    border-right: 2px solid #5c9bc5;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    scrollbar-gutter: stable;
    
    article {
      border-bottom: 1px solid #717171;
      height: calc(5rem + 10px);
      place-content: center;

      h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
    }

    header {
      font-weight: 600;
      font-size: 19px;
      margin-block: 0.3rem;
      max-height: fit-content;
    }
    
    button {
      border-radius: 0;
      width: 90%;
      outline: none;
      cursor: pointer;

      &.card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        margin-block: 5px;
        place-items: center;
        font-weight: 600;
        transition: ease 200ms;
        border-bottom: 1px solid black;

        .title {
          display: flex;
          gap: 8px;
        }
  
        .value {
          grid-column: 1;
          grid-row: 2;
          justify-self: center;
        }
      }

      &:hover {
        background-color: #e0e0e0;
      }
    }
  }

  main {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    header {
      display: flex;
      background: linear-gradient(to bottom, #405383, #5c9bc5);
      padding: 20px 10px;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 1rem;
      width: auto;

      .box {
        display: flex;
        flex-direction: column;
        background: #fff;
        border-radius: 5px;
        justify-content: space-evenly;
        box-shadow: $default-box-shadow;
        text-align: center;
        width: 12rem;
        height: 5rem;
        overflow: hidden;
      }

      select {
        background: #fff;
        width: 10rem;
        outline: none;
        border-radius: 5px;
        align-self: center;
        box-shadow: $default-box-shadow;
        text-align: center;
      }
  }

    h3 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  &__charts {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70%;
  }

  &__histogram {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    column-gap: 5%;
    row-gap: 5px;
    width: 100%;
    height: 16rem;
    margin-block: 2rem;
    justify-content: center;
    overflow-x: auto;
  }

    &::-webkit-scrollbar {
      height: 5px;
    }

    .chart_container {
      position: relative; /* necessário para ::before/::after */
      display: flex;
      flex-direction: row;
      gap: 0.8rem;
      justify-content: flex-start;
      align-items: flex-end;
      border-bottom: 2px solid #5c9bc5;
      height: 200px; /* ou defina altura no pai se for % */
    
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 28px;
        width: calc(100% - 28px);
        border-top: 1px dashed #666666;
      }
    
      &::before {
        top: 0;
      }
    
      &::after {
        top: 50%;
      }
    }
    

  .eixoy {
    display: grid;
    grid-template-columns: auto auto auto;
    min-height: 12.4rem;
    margin-bottom: 1.5rem;
    justify-content: space-between;

    writing-mode: vertical-rl;
    border-left: 2px solid #5c9bc5;
    text-align: center;
    transform: rotate(180deg);
  }

  label {

    &.title {
      grid-row: 0;
      font-weight: 600;
      font-size: 18px;
    }
  }

  .chart_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }

  .month {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0.2rem;
    height: 100%;
  }

  .chart {
    width: 1rem;
    max-height: 14rem;
    transition: height 0.3s ease;

    &.receive {
      background: linear-gradient(to top, #107010, #35bb35);
    }

    &.expense {
      background: linear-gradient(to top, #7e1010, #ff3535);
    }

    &.netIncome {
      width: 1.2rem;
      background: #f1bc0d;
    }

  }
}