.panelOverlay {
  position: fixed;
  top: 65px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 65px);
  background: #768FBF60;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  
  &.fadeIn {
    animation: fadeIn 200ms ease-in forwards;
    pointer-events: all;
  }

  &.fadeOut {
    animation: fadeOut 200ms ease-in forwards;
    pointer-events: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.panel {
  width: auto;
  width: 65rem;
  max-width: 96dvw;
  max-height: 85dvh;
  text-align: center;
  color: var(--font-dark);
  height: auto;
  background: #f2f5ff;
  border-radius: 10px;
  border: 2px solid var(--background-color);
  overflow: scroll;

  .header{
    font-size: 14px;
    margin-bottom: 15px;
    
  }
}

.remove-button,
.add-button {
  width: 6rem;
  display: flex;
  justify-self: center;
  justify-content: center;
  margin: 1rem;
  padding: 0.3rem 0.5rem;
  background: #57a76f;
  transition: 150ms ease;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;

  &.remove-button{
    background: #c52121;
    
    &:hover {
      background: #9c1b1b;
    }
  }
  
  &:hover {
    background: rgb(63, 131, 85);
  }
}

.add-form {
  display: flex;
  justify-content: space-evenly;
  color: #333
}
