.menu {
  min-height: 5rem;
  height: 100%;
  width: 25rem;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--second-500);
  border-left-width: 3px;
  border-right-width: 3px;

  header,
  footer {
    display: grid;
    place-items: center;
    height: 2rem;
    color: var(--font-dark);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }

  header {
    color: var(--second-700);
  }

  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 0 10px;
  }

  .dish {
    display: grid;
    grid-template-rows: 1fr auto;
    width: auto;
    padding: 5px;
    max-height: 30px;
    overflow: hidden;
    scrollbar-gutter: stable;
    transition: max-height 250ms ease-in-out;
    text-align: center;
    cursor: pointer;

    &.expanded {
      max-height: 200px;
      overflow-y: auto;
    }

    p {
      background: linear-gradient(to right, transparent 5%, #9bafc53a 15%, #9bafc53a 85%, transparent 95%);
    }

    &:hover {
      background: linear-gradient(to right, transparent 5%, #d2dfed 15%, #d2dfed 85%, transparent 95%);
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative;

      .btn-delete {
        display: flex;
        position: absolute;
        right: 0;
        color: #bc4545;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        transition: 200ms;

        &:hover {
          animation: 400ms jumping infinite alternate;

          &::before {
            content: '';
            display: block;
            height: 60%;
            width: 1px;
            transform: translateX(0.8rem);
            background: #bc4545;
            margin: auto;
            animation: blink-line 400ms infinite alternate;
          }

          &::after{
            content: '';
            display: block;
            height: 100%;
            width: 1px;
            background: #bc4545;
            margin: auto;
            transform: translateX(0.8rem);
            animation: blink-line 400ms infinite alternate;
          }
        }
      }
    }
  }

  ::-webkit-scrollbar-track {
    background-color: #f7f7f7;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #b4b39e;
    border-radius: 10px;
  }
}

@keyframes jumping {
  from {
    transform: translateX(0rem);
  } to{
    transform: translateX(-0.2rem) scaleX(1.1);
  }
}

@keyframes blink-line {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
