.chat-icon {
  position: fixed;
  background: var(--green-600);
  color: white;
  height: 3rem;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;

  .notification-badge{
    position: absolute;
    height: 1.4rem;
    background: var(--red-600);
    font-size: 0.9rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    left: calc(0% - 0.3rem);
    top: calc(0% - 0.3rem);
  }

  &.minimize-icon {
    right: 0;
    bottom: 0;
    transform: scale(0);
    transition: 200ms;
  }

  &.maximize-icon {
    right: 2.5rem;
    bottom: 2.5rem;
    transform: scale(1);
    transition: 200ms;
  }
}

.chat{
  position: fixed;
  transition: 300ms ease;

  &.open {
    opacity: 1;
  }
  &.closed {
    opacity: 0;
    pointer-events: none;
  }
}