.sidebar{
  display: flex;
  top: calc(65px + 0.5rem);
  left: 0.5rem;
  flex-direction: row;
  position: fixed;
  color: white;
  z-index: 3;

  nav {
    width: auto;
    height: calc(100svh - 1rem - 65px);
    background: var(--second-700-a);
    backdrop-filter: blur(4px);
    border: 1px solid var(--second-300);
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;

    .profile-container {
      display: flex;
      position: relative;
      align-items: center;
      transition: 200ms ease background-color;
      padding: 14px;
      gap: 1rem;

      .profile-content {
        display: grid;
        place-items: center;
        padding: 15px 0;
        position: relative;
      }

      img{
        width: auto;
        height: 4.5rem;
        border-radius: 10px;
        object-fit: cover;
      }

      &:hover{
        background-color: var(--second-300-a);
        transition: 200ms ease background-color;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 90%;
        height: 2px;
        background: linear-gradient(to right, transparent, var(--second-300), transparent);
        margin-top: 6.7rem;
      }
    }

    li{
      display: flex;
      padding: 10px 3.5rem 10px 10px;
      gap: 0.6rem;
      width: 100%;
      transition: 150ms ease;
      align-items: center;
      font-size: 1.1rem;
      font-weight: 500;


      &:hover{
        transition: 150ms ease;
        background-color: var(--second-300-a);
        text-decoration: underline;
      }

      a{
        color: white;
        font-size: 1.1rem;
        font-weight: 500;
        outline: none;
      }
    }
  }

  &.open{
    .margin{
      transform: translateX(0);
      transition: 250ms ease forwards;
    }
    nav{
      animation: open 250ms ease forwards;
    }
  }

  &.closed{
    .margin{
      transform: translateX(-100%);
      transition: 300ms ease;
    }

    nav{
      animation: closed 300ms ease;
    }
  }
}

@keyframes open {
  from {
    transform: translateX(-100%);
    transition: 300ms ease;
    opacity: 0;
  } to {
    transform: translateX(0);
  }
}

@keyframes closed {
  from {
    transform: translateX(0);
  } to {
    transform: translateX(-100%);
    transition: 300ms ease;
    opacity: 0;
  }
}