.chat-container{
  position: fixed;
  display: flex;
  flex-direction: column;
  background: var(--menuContainers);
  max-height: 32rem;
  max-width: 24rem;
  bottom: calc(2.5rem - 1rem);
  right: calc(2.5rem - 1rem);
  aspect-ratio: 6/8;
  border-radius: 10px;
  border-left: 3px solid var(--second-500);
  border-right: 3px solid var(--second-500);
  border-top: 1px solid var(--second-500);
  border-bottom: 1px solid var(--second-500);
  box-shadow: var(--box-shadow);
  transition: width 200ms ease, max-height 200ms ease;
  caret-color: grey;
  overflow: hidden;

  &.minimize-container {
    scale: 1;
    height: 0;
    width: 0;
    transition: 200ms;
  }
  &.maximize-container {
    height: 32rem;
    width: 24rem;
    scale: 1;
    transition: 200ms;
  }
}


.chat-header{
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  background: var(--second-300-a);
  backdrop-filter: blur(3px);
  padding: 5px;
  color: var(--second-700);
}

.message-area {
  display: grid;
  grid-template-columns: auto;
  padding: 3rem 5px;
  gap: 5px;
  overflow-y: scroll;
  scrollbar-gutter: stable;

  .message {
    display: flex;
    background: var(--second-300-a);
    padding-inline: 5px;
    border-radius: 10px;
    gap: 5px;

    &.avatar {
      figure {
        margin-block: 5px;
        color: var(--second-700);
      }
    }

    .message-content {
      display: flex;
      flex-direction: column;
      width:96%;
      font-size: 13px;

      .message-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 13px;
      }
    }
  }
}

.message-sender {
  display: flex;
  position: absolute;
  background: var(--input);
  bottom: .7rem;
  left: 0;
  height: 2rem;
  width: calc(100% - 10px);
  flex-direction: row;
  margin-inline: 5px;
  border-radius: 2rem;
  border: 1px solid var(--second-500);

  textarea {
    display: flex;
    flex: 1;
    height: 1.5rem;
    transform: translateY(3px);
    width: 100%;
    padding-inline: 10px;
    resize: none;
    outline: none;
  }

  .sender {
    all: unset;
    display: flex;
    height: 2rem;
    width: 2rem;
    background: var(--green-600);
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    transform: translateX(1px);
    cursor: pointer;

    svg {
      transform: translateX(2px);
    }
  }

  ::-webkit-scrollbar{
    display: none;
  }
}