.iconGroup {
  position: fixed;
  top: 0;
  right: 0;
  height: 65px;
  width: clamp(140px, 25dvw, 210px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  margin-right: 30px;
  z-index: 5;

  .icon {
    cursor: pointer;
    transition: transform 100ms ease;
  }
}

.menu {
  position: absolute;
  width: 6rem;
  top: -5rem;
  right: -25px;
  background: var(--second-700-a);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid var(--second-300);
  transition: opacity 200ms ease, transform 300ms ease;
  user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
  opacity: 0;

  &.open {
    transition: opacity 300ms ease, transform 300ms ease;
    transform: translateY(calc(5.5rem + 65px));
    opacity: 1;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    margin-bottom: 2px;
  }

  &::-webkit-scrollbar-thumb {
    animation-delay: 600ms;
    border-radius: 5px;
    background: transparent
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  color: var(--font);
  cursor: pointer;
  transition: 200ms ease;

  &:hover{
    background: var(--second-300-a);
  }
}


@media (max-width: 628px){
  .iconGroup {
    width: auto;
    margin-inline: auto;
    margin-right: 1.5rem;
  }

  .iconGroup > *:not(:last-child) {
    display: none;
    z-index: 0;
  }

  .menu {
    right: 0.4rem;
    width: 30%;
  }
}