.window {
  top: 0;
  position: fixed;
  display: grid;
  grid-area: left / titulo / right;
  grid-template-columns: 2fr auto;
  gap: 20px;
  background: var(--branding-500);
  box-shadow: 0 3px 8px 2px #00000050;
  width: 100vw;
  height: 65px;
  align-items: center;
  padding-inline: 25px;
  z-index: 2;
}

.titulo {
  justify-self: center;
  height: 55px;
  filter: drop-shadow(0px 2px 2px #dfa81a);
  user-select: none;
  -webkit-user-select: none;
  transition: 200ms scale ease-in-out;

  &:hover{
    scale: 1.02;
  }
}

.right {
  grid-column: 3;
  display: flex;
}

#nav-icon3 {
  width: 28px;
  height: 22px;
  display: flex;
  position: relative;
  cursor: pointer;
  transition: 250ms ease-in-out;

  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 50%;
    opacity: 1;
    left: 0;
    transition: 250ms ease-in-out;
  }

  span:nth-child(1) { top: 0px; }
  span:nth-child(2), span:nth-child(3) { top: 8px; }
  span:nth-child(4) { top: 16px; }

  &.open span:nth-child(1),
  &.open span:nth-child(4) {
    top: 13px;
    width: 0%;
    left: 50%;
  }

  &.open span:nth-child(2) {
    transform: rotate(45deg);
  }

  &.open span:nth-child(3) {
    transform: rotate(-45deg);
  }
}


@media (max-width: 520px) {
  .window {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
  }
};